%h2= @game.name

.span-4.game_state= @game.state

.span-4.last
  = link_to "Pass Priority", {:action => :pass_priority}
  = link_to "Start", {:action => :start}
.clear

%ul.players
  - @game.players.each do |player|
    %li
      = player.display_name
      == #{player.health}/#{player.health_max}
      Stars: #{player.star_counters}
      Time: #{player.time_counters}

      %ul.cards
        - player.game_cards.each do |card|
          %li.card= render :partial => card

:javascript
  $(function() {
    var allocationPhase = #{game.allocate_stars_phase? || game.allocate_time_phase? || game.setup?};
    var attackPhase = #{game.attack_phase?};

    $(".card").click(function() {
      var index = $(this).index();
      var gameURL = "/games/#{game.id}/";

      if(allocationPhase) {
        var allocationData = {};
        allocationData["allocation["+index+"]"] = 1;

        $.post(gameURL + "allocate", allocationData);
      } else if(attackPhase) {
        var targetPlayerId = 1;
        var attackIndex = 0;

        var attackData = {};
        attackData["attack_declarations[" + index + "," + attackIndex + "]"] = targetPlayerId;

        $.post(gameURL + "attack", attackData);
      }
    });
  });
