%h2= @game.name

.span-4.game_state= @game.state

.span-4.last= link_to "Pass Priority", {:action => :pass_priority}
.clear

%ul.players
  - @game.players.each do |player|
    %li
      = player.display_name
      == #{player.health}/#{player.health_max}

      %ul.cards
        - player.game_cards.each do |card|
          %li= render :partial => card
