%h2= @game.name

.span-4.game_state= @game.state

.span-4.last
  %ul
    %li= link_to "Pass Priority", {:action => :pass_priority}
    - if game.open?
      %li= link_to "Start", {:action => :start}
.clear

%ul.players
  - @game.players.each do |player|
    %li
      = player.display_name
      .stats
        .icon.health
        == #{player.health}/#{player.health_max}
      .bonus
        - player.temp_bonus.each do |key, value|
          - next if value == 0
          %p
            = key
            \:
            = value
      .allocatable
        - player.star_counters.times do
          .icon.star.add
        - player.time_counters.times do
          .icon.time.add

      %ul.cards
        - player.game_cards.each do |card|
          %li.card= render :partial => card

:javascript
  $(function() {
    var allocationPhase = #{game.allocate_stars_phase? || game.allocate_time_phase? || game.setup?};
    var attackPhase = #{game.attack_phase?};
    var preAttackPhase = #{game.pre_attack_phase?};

    $(".card").click(function() {
      var index = $(this).index();
      var gameURL = "/games/#{game.id}/";

      if(allocationPhase) {
        var allocationData = {};
        allocationData["allocation["+index+"]"] = 1;

        $.post(gameURL + "allocate", allocationData);
      } else if(preAttackPhase) {
        var abilityIndex = $(this).find(".ability").index($(this).find(".ability.activatable"));

        if(abilityIndex != -1) {
          $.post(gameURL + "activate", {
            ability_index: abilityIndex,
            game_card_index: index
          });
        }
      } else if(attackPhase) {
        var targetPlayerId = #{target_player.id};
        var attackIndex = $(this).find(".ability").index($(this).find(".ability.attack"));

        var attackData = {};
        attackData["attack_declarations[" + index + "," + attackIndex + "]"] = targetPlayerId;

        $.post(gameURL + "attack", attackData);
      }
    });
  });
