%h4
  = game_card.name

.time
  - game_card.time_counters.times do
    .icon.time

- game_card.abilities.each do |ability|
  - if attack = ability.attack
    %div
      - ability.time_cost.times do
        .icon.time.subtract
      \:
      = attack.damage
      = attack.types.join " "
- game_card.bonus.each do |key, value|
  %div +#{value} #{key}

.stars
  - (game_card.star_max - game_card.star_counters).times do
    .icon.star.empty
  - game_card.star_counters.times do
    .icon.star